@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
:root {
    --primary-color: rgb(53, 124, 231);
    --primary-color-darker: rgb(47, 113, 212);
    --primary-color-pressed: rgb(12, 56, 202);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1.titulo {
    text-align: center;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0, 20px;
}

/*Retirar as setas de imcremento da caixa de imput do tipo number*/
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: var(--primary-color-pressed);
}

form {
    margin-top: 320px;
    position: relative;
}

div.imc {
    position: relative;
    left: 10px;
    float: left;
}

div.resultado {
    position: relative;
    right: 10px;
    float: right;
}

h3 {
    position:sticky;
    top: 50px;
}

#valores {
    position: relative;
    max-width: 640px;
}

.paragrafo-resposta-falsa {
    background: rgb(202, 12, 12);
    padding: 2px;
    margin-bottom: 1px;
}

.paragrafo-resposta-vardadeira {
    background: rgb(118, 224, 123);
    padding: 2px;
    margin-bottom: 1px;
}